{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
  <div class="h-100 d-flex justify-content-center align-items-center">
    <div class="d-inline-block mh-100 mw-100" style="position: relative; aspect-ratio: 17 / 24;">
      <img src="/static/home.webp" alt="Pause - study break timer app" class="img-fluid">
      <a role="button" href="/signin" class="btn btn-transparent border-0 rounded-0" aria-label="Log in"
         style="position: absolute; top: 78%; left: 70%; height: 5.5%; width: 21.5%; transform: rotate(3deg);"></a>
    </div>
  </div>
{% endblock %}

