{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}

  <a href="/dashboard" class="d-block fixed-top text-end m-3 p-2 ms-auto rounded bg-dark shadow text-decoration-none" style="width: 75px;">
    <div class="text-center" style="line-height: 1.15;">
      <i class="bi bi-box-arrow-right fs-1 ms-2"></i>
      <p class="mb-0">Back to home</p>
    </div>
  </a>
  <div>
       <br>
        <img src="/static/HPW.png" alt="Pause - How pause works" >
    </div>
  </div>
{% endblock %}