{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block body %}
  <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-uppercase" style="font-size: 7rem; line-height: 1;">Pause</h1>
    <div class="card bg-info text-center">
      <div class="card-body">
        <h2 class="fs-1 mb-4">Sign in</h2>
        <form method="post">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <button type="submit" class="btn btn-warning">Sign in</button>
          {% with error_messages = get_flashed_messages(category_filter=['error']) %}
            {% if error_messages %}
              <p class="text-dark mt-3">{{ error_messages|join(' • ') }}</p>
            {% endif %}
          {% endwith %}
          {% with info_messages = get_flashed_messages(category_filter=['info']) %}
            {% if info_messages %}
              <p class="text-primary mt-3">{{ info_messages|join(' • ') }}</p>
            {% endif %}
          {% endwith %}
          <p class="card-text mt-3">Don't have an account yet? <a href="/signup" class="link-light">Sign up instead</a></p>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
